@tailwind base;
@tailwind components;
@tailwind utilities;
nav{
    padding-top: 0%;
    margin-top: 0%;
}footer.bg-gradient-to-r {
    margin-top: 35px;
  }
 .custom-image{
    background-image: url(../app/Picpro/Pfp-s/pexels-merlin-10874566.jpg);
 }
